.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.counter-div{
    width: 40rem;
    border: 1px solid green;
    padding:1rem;
    background-color: greenyellow;
    color:var(--white) ;
    text-align: center;
    border-radius: 2px;


}

.counter-div > *{
    margin-bottom: 2rem;
}

.count{
    font-size: 4rem;
}

.buttons button{
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    }

.subtract{
        background-color: orange;
        color: black;
    }
.reset{
        background-color: palevioletred;
        color: black;
    }
.add{
        background-color:purple;
        
    }